#feed {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 75px;
}

#feed-header {
  padding: 15px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
}

#feed-header button {
  background: transparent;
  border: none;
}

#feed-header svg, #score svg {
  fill: #EA4E5C;
}

#subinfo {
  display: grid;
  grid-template-columns: 1fr auto;
}

#score span {
  font-size: 0.7em;
  color: #333333;
}

#score {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#feed-header h2 {
  margin-bottom: 0;
  margin-top: 5px;
}

#feed-header p {
  margin: 0;
  font-size: 0.8em;
  color: grey;
}


  @media only screen and (max-width: 779px) {
    #feed {
    column-count: 2;
    }
    body {
        font-size: 1em;
    }
  }

  @media only screen and (min-width: 780px) {
    #feed {
    column-count: 3;
    }
    
  }

  @media only screen and (min-width: 1040px) {
    #feed {
    column-count: 4;
    }
  }

.grid-item img {
    max-width: 100%;
    border-radius: 5px;
}

.grid-item {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    margin-bottom: 20px;
    border-radius: 5px;
}

.info p {
    font-size: 0.7em;
    color: grey;
    margin: 0;
}

.info h3 {
    font-size: 0.9em;
    color: #333333;
    margin: 5px 0;
    text-decoration: none;
}


