#section {
    border-bottom: 1px solid #ebebeb;
    background: white;
    width: 100%;
    margin-top: 0;
    position: fixed;
}

@media only screen and (min-width: 779px) {
    #section {
      display: none;
    }
  }

#inside-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 15px;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
}

#inside-header span {
    font-size: 0.7500em;
}

#inside-header button {
    background: none;
    border: none;
}