#menu-section{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ebebeb;
    z-index: 100;
}

@media only screen and (min-width: 779px) {
    #menu-section {
      display: none;
    }
  }

#menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}

#menu a {
    text-decoration: none;
}

#menu p {
    margin: 0;
    font-size: 0.7em;
    color: #333333;
}

svg {
    color: #333333;
    width: 24px;
    strokeWidth: 1;
}

.active svg {
    color: #EA4E5C;
    strokeWidth: 2 !important;
}

.active p {
    font-weight: bold;
}