#ong-detail {
    margin: 0 auto;
    max-width: 1140px;
    background: white;
    border-radius: 10px;
    padding-bottom: 75px;
    
}

@media only screen and (max-width: 779px) {
    #ong-detail{
        padding-top: 45px;
    }
  }



#logo {
    max-height: 60px;
}

#ong-header {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 140px);
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#ong-header span {
    font-size: 0.7500em;
}

#ong-name {
    margin: 5px 0;
}

#ong-body {
    padding: 20px;
}

#ong-body p {
    line-height: 2;
    font-size: 0.7500em;
}

.hero-image {
    width: 100%;
}

#logo {
    justify-self: end;
}

#location {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    align-items: center;
}

#ong-location {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    align-items: center;
}

#ong-location p {
    font-size: 0.7500em;
}

#ong-location svg {
    color: #EA4E5C;
}

#score svg {
    width: 12px;
    margin-right: 5px;
}